In [16]:
import pandas as pd
df=pd.read_csv("PYHTON.csv")
df.head()
print(df)

    S.NO      X      Y     Z
0      1   13.0   34.0   2.0
1      2   12.0   34.0   3.0
2      3   14.0   12.0   5.0
3      4   23.0    NaN  67.0
4      5    NaN    1.0  56.0
5      6   12.0    2.0  45.0
6      7    NaN   34.0   NaN
7      8    NaN   78.0  45.0
8      9   16.0  100.0   NaN
9     10    2.0  566.0  45.0
10    11    3.0    3.0  56.0
11    12    NaN    4.0  56.0
12    13   12.0    5.0  45.0
13    14   12.0    6.0  34.0
14    15  167.0   67.0  23.0

this is my new notebook !!!
**hello**
*hello*
![My Picture](https://tse2.mm.bing.net/th?id=OIP.7cRYFyLoDEDh4sRtM73vvwHaDg&pid=Api&P=0&h=180)